#lineChart {
    background: #4a4a4a;
}

#BarChart{
    background: #4a4a4a;
}

.blink1{
    color: red;
    font-weight:bold;
}

.blink2{
    color: green;
    font-weight:bold;
}

.navbar-light .navbar-brand {
    color: #adb5bd;
    font-size: 30;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #adb5bd;
}

.nav-link1{
    color: #adb5bd;
}

.ticker-submit {
    color:black;
}