
<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <!-- Javascript Imports -->
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js" integrity="sha256-H9jAz//QLkDOy/nzE9G4aYijQtkLt9FvGmdUTwBk6gs=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>

<!--     Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="/static/style.css" rel="stylesheet"></link>
  
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

    <title>{% block title %}STOCK ANALYSIS{% endblock %}</title>
<!-- 
  <title>Hello, world!</title> -->
  </head>

  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="/">STOCK ANALYSIS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  {% if 'user_id' in session %}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <form class="nav-item active">
        <a class="nav-link" href="/sector">Sector Performance<span class="sr-only"></span></a>
      </form>
    </ul>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <form class="nav-item active">
        <a class="nav-link" href="/ticker_lookup">Ticker Lookup<span class="sr-only"></span></a>
      </form>
    </ul>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <form class="nav-item active">
        <a class="nav-link" href="/add_stock">Add Stock<span class="sr-only">ls</span></a>
      </form>
    </ul>
  
  
  <form action="/search" class="navbar-form navbar-right">
  <div class="input-group">
      <input type="Search" class="form-control" size ="40" placeholder="Entering a Ticker to Get Company Info" name="ticker">
      <div class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="fa fa-search" style="font-size: 20px; color:white"></i></button>&nbsp&nbsp&nbsp
  </div>

  </form>


{% endif %}
  <ul class="nav navbar-nav navbar-right ml-auto"> 
  <div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Personal Info
  </a>

  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/login"><i class="fa fa-sign-in"></i>&nbspLogin</a>
    <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out"></i>&nbspLogout</a>
    <a class="dropdown-item" href="/user_stock"><i class="fa fa-user-circle-o"></i>&nbspMy Portfolio</a>
  </div>
</div>
  </ul>


  </div>

</nav>

<body>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.usebootstrap.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


  <main class="container col-12 my-2">
  {% block content %}
    <!--   BODY CONTENT GOES HERE -->
  {% endblock %}
  </main>


</body>   

</html>





