{% extends 'base.html' %}

{% block title %} {% endblock %}


{% block content %}

<br>
<!DOCTYPE html>
<html>
<body>
<form action="/add_profolio" method="POST">
  <div class="topnav">
    <input type = "text" placeholder="ticker" required>
    <input type="submit" value="ADD TO MY PROFOLIO" id="my-profolio">  
  </div>
</form><br>
  


<form id="chart-form">
  <select name="comp" id="comp-field" >
    <option value = ""></option>
    <option value="PYPl">Paypal</option>
    <option value="NVDA">Nvidia</option>
    <option value="CRM">Salesforce</option>
    <option value="TWLO">Twilio</option>
    <option value="AAPL">Apple</option>
    <option value="MSFT">Microsoft</option>
  </select>
  <input type="submit" value="VIEW CHARTS" id="ticker-submit">

 <!--  Post request. Check if users have added to their profolio-> server
  inside the end point->another route

  create a drop out . form with 2 buttons  -->
  

  <br>
  <br>
</form>

  <div class="Company">
    <canvas id="lineChart"></canvas>
    <div id="lineLegend" class="chart-legend"></div>
  </div>

  <div class="Company">
    <canvas id="BarChart"></canvas>
    <div id="BarLegend" class="chart-legend"></div>
    
  </div>

  <script>

    const options = {
      responsive: true,
      scales: {
        yAxes: [{
          ticks: {
            frontFamily: "Roboto Mono",
            frontcolor: "#F5F5F5",
            frontStyle: "bold",
            beginatZero: true,
            maxTicksLimit: 10,
            padding: 20
        
          },
          gridLines: {
            display: false,
            drawTicks: false,
            drawBorder: false
          }
        }],
        xAxes: [{
          ticks: {
            frontFamily: "Roboto Mono",
            frontcolor: "red",
            frontStyle: "bold",
            beginatZero: true,
            maxTicksLimit: 10,
            padding: 20

          },
          gridLines: {
            display: false,
            drawTicks: false,
            drawBorder: false
          }
        }]
      }
    };

    const lineChartEl = $("#lineChart").get(0);

    // Make Line Chart of daily stock prices
    const ctxLine = lineChartEl.getContext("2d"); 

    // Make Bar chart of daily stock price variation  
    const ctx_bar = $("#BarChart").get(0).getContext("2d");

    
    const lineWidth = lineChartEl.width;
    const lineHeight = lineChartEl.height;
    const lineGradient = ctxLine.createLinearGradient(
      0, 0, lineWidth, lineHeight
    );
    lineGradient.addColorStop(0.5, "#ff00a5");
    lineGradient.addColorStop(1, "#ffa500");

    



    // $.get("/chart.json", (data) => {
    //   let compChart = Chart.Line(ctx_line, {
    //                                 data: data,
    //                                 options: options
    //                             });

    //   $("#lineLegend").html(compChart.generateLegend());
    // });

    $('#chart-form').on('submit', (evt) => {
      evt.preventDefault();

      const formInputs = $('#chart-form').serialize();

      $.get("/chart.json", formInputs, (dataFrmServer) => {
        console.log(dataFrmServer);

        const compChart = Chart.Line(
          ctxLine, {
            data: {
              labels: dataFrmServer.dates,
               datasets: [{
                borderColor: lineGradient,
                pointBackgroundColor: lineGradient,
                fill: false,
                borderWidth: 1,
                data: dataFrmServer.close_prices
              }]
            },
            options: options
          }
        );

        $("#lineLegend").html(compChart.generateLegend());
      });



      $.get("/variation.json", formInputs, (data) => {
        let myBarChart = Chart.Bar(ctx_bar, {
                                    type: "bar",
                                    data: data,
                                    options: options
                                });
      $("#BarLegend").html(myBarChart.generateLegend());


    });

});

  
  
  </script>
</body>
</html>

{% endblock %}