{% extends 'base.html' %}

{% block title %} {% endblock %}


{% block content %}
  <!-- Create a drop out which has a list of companies
  When users click on the comany, the company's chart will show up -->

<!DOCTYPE html>
<html>
<body>

<select>
  <option value="PayPal">PayPal</option>
  <option value="NVDA">NVDA</option>
  <option value="CRM">Salesforce</option>
  <option value="TWLO">Twilio</option>
  <option value="AAPL">Apple</option>
  <option value="SQ">SQ</option>
  <option value="BA">BA</option>
  <option value="SHOP">SHOP</option> 
</select>
 

</body>
</html>



  <div class="Company">
    <canvas id="lineChart"></canvas>
    <div id="lineLegend" class="chart-legend"></div>
  </div>

  <script>
    const options = {
      responsive: true
    };

    let ctx_line = $("#lineChart").get(0).getContext("2d");

    $.get("/chart.json", function (data) {
      let compChart = Chart.Line(ctx_line, {
                                    data: data,
                                    options: options
                                });
      $("#lineLegend").html(compChart.generateLegend());
    });

  </script>

{% endblock %}