{% extends 'base.html' %}

{% block title %} {% endblock %}


{% block content %}

<br>
<!DOCTYPE html>
<html>
<body>
<form id="chart-form">
  <select name="comp" id="comp-field" >
    <option value="PYPl">Paypal</option>
    <option value="NVDA">Nvidia</option>
    <option value="CRM">Salesforce</option>
    <option value="TWLO">Twilio</option>
    <option value="AAPL">Apple</option>
    <option value="MSFT">Microsoft</option>
  </select>
  <input type="submit" value="Submit" id="ticker-submit">

</form>

<h2> Dashboard </h2>


  <div class="Company">
    <canvas id="lineChart"></canvas>
    <div id="lineLegend" class="chart-legend"></div>
  </div>

  <div class="Company">
    <canvas id="BarChart"></canvas>
    <div id="BarLegend" class="chart-legend"></div>
    
  </div>

  <script>
    const options = {
      responsive: true
    };

    // Make Line Chart of daily stock prices
    let ctx_line = $("#lineChart").get(0).getContext("2d");


  
    let ctx_bar = $("#BarChart").get(0).getContext("2d");

    // $.get("/chart.json", (data) => {
    //   let compChart = Chart.Line(ctx_line, {
    //                                 data: data,
    //                                 options: options
    //                             });

    //   $("#lineLegend").html(compChart.generateLegend());
    // });

    $('#chart-form').on('submit', (evt) => {
      evt.preventDefault();

      const formInputs = $('#chart-form').serialize();

      $.get("/chart.json", formInputs, (data) => {
      let compChart = Chart.Line(ctx_line, {
                                    data: data,
                                    options: options
                                });
      $("#lineLegend").html(compChart.generateLegend());
  });

      $.get("/variation.json", formInputs, (data) => {
      let myBarChart = Chart.Bar(ctx_bar, {
                                    type: "bar",
                                    data: data,
                                    options: options
                                });
      $("#BarLegend").html(myBarChart.generateLegend());


  
    });

});

  
    // let ctx_line = $("#BarChart").get(0).getContext("2d");

    // $('#chart-form').on('submit', (evt) => {
    //   evt.preventDefault();

    //   const formInputs = $('#chart-form').serialize();

    //   $.get("/variation.json", formInputs, (data) => {
    //   let myBarChart = new Chart(ctx_bar, {
    //                                 type: "bar",
    //                                 data: data,
    //                                 options: options
    //                             });
    //   $("#BarLegend").html(myBarChart.generateLegend());
    // });
    // });



  </script>
</body>
</html>

{% endblock %}