{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>

<body>

<style>
  body {
    background-color: #FDFEFE;
  }
</style>

<main class="container col-6 my-2">
<div class="well spaced" style="width:40%;">
<div>
  <h1>Login</h1>
  <form action="/login" method="POST">

    <div class="form-group">
      <label>Email:
          <input type="email" name="email" required class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>Password:
          <input type="password" name="password" required class=
          "form-control">
      </label>
    </div>

    <div class="form-group">
      <input type="submit"  class="btn btn-danger">
    </div>
 

  </form>
</div>
</div>
</main>
</body>

</html>

{% endblock %}