{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<body><br><br><br><br><br><br>

<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
       <h1 class="text-center">Welcome</h1><br>

<div class="text-center">
  <form action="/login" method="POST">

    <div class="form-group">
      <label>Email:
          <input type="email" name="email" required class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>Password:
          <input type="password" name="password" required class=
          "form-control">
      </label>
    </div>

    <div class="form-group">
      <input type="submit"  class="btn btn-dark">
    </div>
    <a href="/register">Don't have your account? Click Here!<a/>
 

  </form>
</div>
</div>

</body>

</html>

{% endblock %}