
{% extends 'base.html' %}
{% block content %}
<br>
<!DOCTYPE html>
<html>
<head>
    <title> My dashboard</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Current Market Data</h3>
        <table class="table table-striped">
            <thead class="thead-dark">

            <tr>
              <th scope="col" >Company Name</th>
              <th scope="col">Ticker Name</th>
              <th scope="col">Current Price</th>
              <th scope="col">Previous Close</th>
              <th scope="col">Market Cap</th>
              <th scope="col">YTD Change</th>
              <th scope="col">52wk High</th>
              <th scope="col">52wk Low</th>
              <th scope="col">PE Ratio</th>
            </tr>
          </thead>
          <tbody>
            {% for each_ticker in ticker_data %}     
            <tr>
              <td>{{ each_ticker.companyName }}</td>
              <td>{{ each_ticker.symbol }}</td>
              <td>${{ each_ticker.latestPrice }}</td>
              <td>${{ each_ticker.previousClose }}</td>
              <td>{{ each_ticker.marketCap }}</td>
              <td>%{{ each_ticker.ytdChange }}</td>
              <td>${{ each_ticker.week52High }}</td>
              <td>${{ each_ticker.week52Low }}</td>
              <td>{{ each_ticker.peRatio }}</td>

            </tr>
             {% endfor %}
          </tbody>
        </table>
      </div>
    </div><br><br>

    <div class="row">
      <div class="col">
        <!-- CREATE SCARTTER PLOT FOR COLLRELATION ANALYSIS  -->
        <form id="corr_form">
            <h3>Correlation Analysis</h3>
            <label for="ticker1">Enter First Ticker:</label>
            <input id="ticker1" type="text" name="ticker1">
            <lable for="ticker2">Enter Second Ticker:</lable>
            <input id="ticker2" type="text" name="ticker2">
            <input type="submit" value="View Chart" id="ticker-submit">  
        </form>

        <div class="Correlation">
          <canvas id="ScatterPlot"></canvas>
          <div id="ScatterLegend" class="scatter-legend"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <!-- CREATE CHART FOR RISK AND RETURN ANALYSIS  --> 

        <form id="r-form">
          <h3>Risk and Return Analysis</h3>
          <input type="submit" value="View Chart" id="risk-analysis-submit"> 
        </form><br>

        <div class="Risk and Return">
          <canvas id="lineC"></canvas>
          <div id="rLegend" class="r-legend"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <!-- CREATE HIGHEST RISK AND RETURN TABLE  -->
        <div class="table-title">
          <b class="mr-3">{{ max1 }} HAS THE HIGHEST RISK</b>
          <span class="blink1">SELL {{ max1 }}</span>
        </div>

        <table class="table table-striped">
          <thead>
            <tr class="bg-danger">
              <th scope="col">Ticker Name</th>
              <th scope="col">Risk Rate</th>
            </tr>
          </thead>
          <tbody>
            {% for key in new_dict1 %}  
            <tr class="table-danger">
            <td>{{ key }}</td>
            <td>{{ new_dict1[key] }}</td> 
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col">
        <div class="table-title">
          <b class="mr-3">{{ max2 }} HAS THE HIGHEST RETURN</b>
          <span class="blink2">BUY {{ max2 }}</span>
        </div>

        <table class="table table-striped">
          <thead>
            <tr class="bg-success">
              <th scope="col">Ticker Name</th>
              <th scope="col">Return Rate</th>
             
            </tr>
          </thead>
          <tbody>
            {% for key in new_dict2 %}  
            <tr class="table-success">
            <td>{{ key }}</td>
            <td>{{ new_dict2[key] }}</td> 
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>

<script>
   function blink_text() {
    $(".blink1").fadeOut(500);
    $(".blink1").fadeIn(500);
}
setInterval(blink_text, 1000);
</script>

<script>

  function blink_text() {
    $(".blink2").fadeOut(500);
    $(".blink2").fadeIn(500);
}
setInterval(blink_text, 1000);

</script>
<script>
    const options = {
        legend: {display: true},
        scales: {
            xAxes: [{
                type: 'time',
                time: {
                  displayFormats:{
                    quarter: 'MMM YYYY'
                  }
                },
                ticks:{
                  fontColor: "black"
                }
            }],
            yAxes: [{
              ticks:{
                fontColor: "black"
              }
            }]
        }
    
    };

    let formatDateStringForChart = (s) => {
    let d = new Date(s);
    return d.toDateString();
};

    const ctx_scatter = $("#ScatterPlot").get(0).getContext("2d");
    
    $("#corr_form").on("submit", (evt) => {
      evt.preventDefault();


      // Get all user's input from the form 
      const formInputs = $("#corr_form").serialize();
 

      // Sending formInputs to the server. data1 is in json format 
    $.get("/correlation.json", formInputs, (data1) => {
      
        const myScatterPlot = Chart.Scatter(ctx_scatter, {
                                    type: 'scatter',
                                    data: data1,
                                    options: options

                                });

    $("#ScatterLegend").html(myScatterPlot);

    });

});

</script>
<br>
<br>
<script> 
  
    // Make donut chart for risk comparison 
    const ctx_d = $("#lineC").get(0).getContext("2d");


    $("#risk-analysis-submit").on("click", (evt) => {
      evt.preventDefault();

    const formInputs = $("r-form").serialize();

      // Get all user's input from the form 
    $.get("/risk_return_analysis.json", (data) =>{
      
      const myscatterchart = new Chart(ctx_d, { 
                                      type:'scatter',
                                      data: data,
                                      options: {
                                      responsive: true,
                                      legend: {display: false},
                                      scales:{
                                        yAxes: [{
                                          display:true,
                                          scaleLabel: {
                                            display: true,
                                            fontColor: "red",
                                            fontStyle: "bold",
                                            fontSize: 15,
                                            labelString: 'RISK'
                                          },
                                          ticks:{
                                            beginAtZero: true,
                                            fontColor: "black"
                                          }
                                        }],
                                        xAxes: [{
                                          display:true,
                                          scaleLabel: {
                                            display: true,
                                            fontColor: "green",
                                            fontStyle: "bold",
                                            fontSize: 15,
                                            labelString: 'RETURN'
                                          },
                                          ticks:{
                                            fontColor: "black"
                                          }
                                        }]
                                      }
                                      }
                                     
                                    });

    $("#rLegend").html(myscatterchart);
  
    });

  });


</script>
<br>
<br>

{% endblock %}

</body>
</html>