{% extends 'base.html' %}
{% block content %}
<body>
<style>
  body{
    background-color: #FDFEFE;
  }
</style>
<div class="well spaced" style="width:40%;">
<div>
  <h1>Sign Up</h1>
  <form action="/register" method="POST">

    <div class="form-group">
      <label>First Name:
        <input type="firstname" name="firstname" required class="form-control">
             
      </label>    
    </div>

    <div class="form-group">
      <label>Last Name:
        <input type="lastname" name="lastname" required class="form-control">       
      </label>
      
    </div>

    <div class="form-group">
      <label>Email:
          <input type="email" name="email" required class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>Password:
          <input type="password" name="password" required class=
          "form-control">
      </label>
    </div>

    <div class="form-group">
      <input type="submit"  class="btn btn-danger">
    </div>

  </form>
</div>
</div>
</body>
{% endblock %}