{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}

<br><br>

<!DOCTYPE html>
<html>
<head>

<h1>Ticker Lookup</h1>

<form action="/ticker_lookup">
  <input type="text" name="name" placeholder="Search a ticker">
  <input type="submit" value="Search"><br><br>
</form>
<body>
   
{% for comp in name_api['bestMatches'] %}
 <div class="container">
      <div class ="row">
        <div class="col">
  
       

<br>
Ticker: {{ comp["1. symbol"] }}<br>
Company Name: {{ comp["2. name"] }}<br>
Region: {{ comp["4. region"] }}<br><br><br>
</div>
</div>
</div>
{% endfor %}
</body>
</html>

{% endblock %}


<!-- <input type="ticker" name="ticker" required class="form-control">