{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}

<br>

<!DOCTYPE html>
<html>
<head>
<div class="container col-4 my-2">
    <font
    color="white">
    <h1>Ticker Lookup</h1>
    </font>

    <form action="/ticker_lookup">
        <input type="text" name="name" size ="40" placeholder="Enter a company name">
        <input type="submit" value="Search" ><br><br>
    </form>
<div>

<body>
    <style>
        body{
            background-color: #4a4a4a;
    </style>


{% for comp in name_api['bestMatches'] %}

<font
color="white">     
<li>Ticker: {{ comp["1. symbol"] }}</li>
Company Name: {{ comp["2. name"] }}<br>
Region: {{ comp["4. region"] }}<br><br/>
</font>   






{% endfor %}
</body>
</html>

{% endblock %}


<!-- <input type="ticker" name="ticker" required class="form-control">