{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}

<br>

<!DOCTYPE html>
<html>
<head>

<font
color="white">
<h1>Ticker Lookup</h1>

</font>

<form action="/ticker_lookup">
  <input type="text" name="name" placeholder="Enter a company name">
  <input type="submit" value="Search"><br><br>
</form>
<body>

<style>
  body{
    background-color: #4a4a4a;
  }
</style>


{% for comp in name_api['bestMatches'] %}

<ul>  
<font
color="white">     
<li>Ticker: {{ comp["1. symbol"] }}</li>
Company Name: {{ comp["2. name"] }}<br>
Region: {{ comp["4. region"] }}<br>
</font>
</ul>



{% endfor %}
</body>
</html>

{% endblock %}


<!-- <input type="ticker" name="ticker" required class="form-control">